:root {
  --primary: #393939;
  --secondary: #888888;
  --accent: #c6c6c6;
  --neutral: #b4b4b4;;
  --base: #ffffff;
  --success: #28a745;
  --error: #dc3545;
  --warning: #ffc107;
  --background: #f9f9f9;
}
